{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Font Link #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    {# CSS Link #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">

    {% if title %}
        <title>{{ title }} | Pixel Arena</title>
    {% else %}
        <title>Pixel Arena</title>
    {% endif %}
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}" class="navbar__brand">Pixel Arena</a>

        <ul class="navbar__menu">
            <li>
                <a href="#" class="navbar__link">Download</a>
            </li>
            <li>
                <a href="#" class="navbar__link">Dev Log</a>
            </li>
            <li>
                <a href="{% url 'login' %}" class="navbar__link">Login</a>
            </li>
            <li>
                <a href="{% url 'register' %}" class="small__button">Sign Up</a>
            </li>
        </ul>
    </nav>

    {% block content %}{% endblock content %}

    {% block script %}{% endblock script %}
</body>
</html>