{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
    <header>
        <div class="container centered">
            <form id="login_form" method="get">
                {% csrf_token %}

                <h1 class="form__title">
                    <small>Form</small>
                    <span>Login</span>
                </h1>
                <div class="form__group">
                    <label for="username">Username</label>  
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form__group">
                    <label for="password">Password</label>  
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                <div class="form__group">
                    <input type="submit" value="Login" class="large__button">
                </div>
                <fieldset class="form__footer">
                    <small>Doesn't have an account ? <a href="{% url 'register' %}" class="link">Sign Up</a></small>
                </fieldset>
            </form>
        </div>
    </header>
{% endblock content %}
